# NYC Trip Fares Project - Fundamentals of Computer Science 24/25

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
file_path = 'NYCTripFares.csv'
data = pd.read_csv(file_path, low_memory = False)

print(data.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0       1.0  2020-01-01 00:28:15   2020-01-01 00:33:03              1.0
1       1.0  2020-01-01 00:35:39   2020-01-01 00:43:04              1.0
2       1.0  2020-01-01 00:47:41   2020-01-01 00:53:52              1.0
3       1.0  2020-01-01 00:55:23   2020-01-01 01:00:14              1.0
4       2.0  2020-01-01 00:01:58   2020-01-01 00:04:16              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0            1.2         1.0                  N           238           239
1            1.2         1.0                  N           239           238
2            0.6         1.0                  N           238           238
3            0.8         1.0                  N           238           151
4            0.0         1.0                  N           193           193

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0           1.0          6.0    3.0      0.5        1.47           0.0
1           1.0          7.0    3.0      0.5        1.50           0.0
2           1.0          6.0    3.0      0.5        1.00           0.0
3           1.0          5.5    0.5      0.5        1.36           0.0
4           2.0          3.5    0.5      0.5        0.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3         11.27                   2.5
1                    0.3         12.30                   2.5
2                    0.3         10.80                   2.5
3                    0.3          8.16                   0.0
4                    0.3          4.80                   0.0

### 1. Extract all trips with trip_distance larger than 50

In [5]:
# Extract trips where trip_distance > 50
filtered_data = data[data['trip_distance'] > 50]

# Display the first few rows
print(filtered_data.head())
print(f"Number of trips with trip_distance > 50: {len(filtered_data)}")

       VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
23842       2.0  2020-01-01 01:53:07   2020-01-01 03:54:41              1.0
39013       2.0  2020-01-01 02:05:07   2020-01-01 03:03:10              1.0
41620       1.0  2020-01-01 03:05:54   2020-01-01 04:16:26              1.0
58262       2.0  2020-01-01 05:36:12   2020-01-01 06:40:06              1.0
63024       2.0  2020-01-01 07:40:30   2020-01-01 08:40:01              1.0

       trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
23842          52.30         5.0                  N           262
39013          51.23         5.0                  N           264
41620          53.80         5.0                  N           132
58262          55.23         5.0                  N           132
63024          54.19         5.0                  N           132

       DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
23842           265           1.0        300.0    0.0      0.0       61.78
39013           264           1.0        329.0    0.0      0.5      100.78
41620           265           1.0        250.0    0.0      0.0       53.35
58262           265           2.0        170.0    0.0      0.5        0.00
63024           265           1.0        230.0    0.0      0.0        0.00

       tolls_amount  improvement_surcharge  total_amount  congestion_surcharge
23842          6.12                    0.3        370.70                   2.5
39013          6.12                    0.3        436.70                   0.0
41620         16.62                    0.3        320.27                   0.0
58262         18.26                    0.3        189.06                   0.0
63024         12.24                    0.3        242.54                   0.0
Number of trips with trip_distance > 50: 379

### 2. Extract all trips where payment_type is missing

In [6]:
# Extract trips where payment_type is missing (NaN)
missing_payment_type = data[data['payment_type'].isna()]

# Display the first few rows
print(missing_payment_type.head())
print(f"Number of trips with missing payment_type: {len(missing_payment_type)}")

         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
6339567       NaN  2020-01-01 08:51:00   2020-01-01 09:19:00              NaN
6339568       NaN  2020-01-01 08:38:43   2020-01-01 08:51:08              NaN
6339569       NaN  2020-01-01 08:27:00   2020-01-01 08:32:00              NaN
6339570       NaN  2020-01-01 08:46:00   2020-01-01 08:57:00              NaN
6339571       NaN  2020-01-01 08:21:00   2020-01-01 08:38:00              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
6339567          13.69         NaN                NaN           136
6339568           3.42         NaN                NaN           121
6339569           2.20         NaN                NaN           197
6339570           0.84         NaN                NaN           262
6339571           7.24         NaN                NaN            45

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
6339567           232           NaN        51.05   2.75      0.5         0.0
6339568             9           NaN        27.06   2.75      0.0         0.0
6339569           216           NaN        24.36   2.75      0.5         0.0
6339570           236           NaN        26.08   2.75      0.5         0.0
6339571           142           NaN        25.28   2.75      0.5         0.0

         tolls_amount  improvement_surcharge  total_amount  \
6339567           0.0                    0.3         54.60
6339568           0.0                    0.3         30.11
6339569           0.0                    0.3         27.91
6339570           0.0                    0.3         29.63
6339571           0.0                    0.3         28.83

         congestion_surcharge
6339567                   0.0
6339568                   0.0
6339569                   0.0
6339570                   0.0
6339571                   0.0
Number of trips with missing payment_type: 65441

### 3. For each (PULocationID, DOLocationID) pair, determine the number of trips

In [7]:
# Group by (PULocationID, DOLocationID) and count trips
trip_counts = data.groupby(['PULocationID', 'DOLocationID']).size().reset_index(name='trip_count')

# Display the first few rows
trip_counts.head(10)

   PULocationID  DOLocationID  trip_count
0             1             1         638
1             1            50           1
2             1            68           1
3             1           138           2
4             1           140           1
5             1           148           1
6             1           211           1
7             1           231           1
8             1           264         105
9             1           265           4

### 4. Save all rows with missing VendorID, passenger_count, store_and_fwd_flag, payment_type in a new dataframe called bad, and remove those rows from the original dataframe.

In [8]:
# Identify rows with missing values in specified columns
columns_to_check = ['VendorID', 'passenger_count', 'store_and_fwd_flag', 'payment_type']
bad = data[data[columns_to_check].isna().any(axis=1)]

# Display the first few rows
print(bad.head())

# Remove rows from the original DataFrame
data = data.drop(bad.index)

# Display the shapes of the resulting DataFrames for verification
print(f"Number of rows in 'bad': {len(bad)}")
print(f"Number of rows in 'data' after removal: {len(data)}")

         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
6339567       NaN  2020-01-01 08:51:00   2020-01-01 09:19:00              NaN
6339568       NaN  2020-01-01 08:38:43   2020-01-01 08:51:08              NaN
6339569       NaN  2020-01-01 08:27:00   2020-01-01 08:32:00              NaN
6339570       NaN  2020-01-01 08:46:00   2020-01-01 08:57:00              NaN
6339571       NaN  2020-01-01 08:21:00   2020-01-01 08:38:00              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
6339567          13.69         NaN                NaN           136
6339568           3.42         NaN                NaN           121
6339569           2.20         NaN                NaN           197
6339570           0.84         NaN                NaN           262
6339571           7.24         NaN                NaN            45

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
6339567           232           NaN        51.05   2.75      0.5         0.0
6339568             9           NaN        27.06   2.75      0.0         0.0
6339569           216           NaN        24.36   2.75      0.5         0.0
6339570           236           NaN        26.08   2.75      0.5         0.0
6339571           142           NaN        25.28   2.75      0.5         0.0

         tolls_amount  improvement_surcharge  total_amount  \
6339567           0.0                    0.3         54.60
6339568           0.0                    0.3         30.11
6339569           0.0                    0.3         27.91
6339570           0.0                    0.3         29.63
6339571           0.0                    0.3         28.83

         congestion_surcharge
6339567                   0.0
6339568                   0.0
6339569                   0.0
6339570                   0.0
6339571                   0.0
Number of rows in 'bad': 65441
Number of rows in 'data' after removal: 6339567

### 5. Add a duration column storing how long each trip has taken (use tpep_pickup_datetime, tpep_dropoff_datetime)

In [9]:
# Ensure the datetime columns are in correct format
data['tpep_pickup_datetime'] = pd.to_datetime(data['tpep_pickup_datetime'])
data['tpep_dropoff_datetime'] = pd.to_datetime(data['tpep_dropoff_datetime'])

# Calculate the duration in minutes
data['duration'] = (data['tpep_dropoff_datetime'] - data['tpep_pickup_datetime'])

# Display the first few rows
print(data[['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'duration']].head())

  tpep_pickup_datetime tpep_dropoff_datetime        duration
0  2020-01-01 00:28:15   2020-01-01 00:33:03 0 days 00:04:48
1  2020-01-01 00:35:39   2020-01-01 00:43:04 0 days 00:07:25
2  2020-01-01 00:47:41   2020-01-01 00:53:52 0 days 00:06:11
3  2020-01-01 00:55:23   2020-01-01 01:00:14 0 days 00:04:51
4  2020-01-01 00:01:58   2020-01-01 00:04:16 0 days 00:02:18

### 6. For each pickup location, determine how many trips have started there.

In [10]:
# Group by PULocationID and count the number of trips
pickup_counts = data.groupby('PULocationID').size().reset_index(name='trip_count')

# Display the first few rows
print(pickup_counts.head(10))

   PULocationID  trip_count
0             1         753
1             2           3
2             3          70
3             4        9902
4             5          39
5             6          12
6             7        8271
7             8          86
8             9          39
9            10        1956

### 7. Cluster the pickup time of the day into 30-minute intervals (e.g. from 02:00 to 02:30)

In [11]:
data['tpep_pickup_datetime'] = pd.to_datetime(data['tpep_pickup_datetime'])

# Define a function to calculate the 30-minute interval
def get_time_interval(pickup_time):
    # Floor the time to the nearest 30 minutes
    start_interval = pickup_time.floor('30min')
    # Add 30 minutes to get the end of the interval
    end_interval = start_interval + pd.Timedelta(minutes=30)
    
    return f"{start_interval.time()}-{end_interval.time()}"

# Creating the new column and displaying the first rows
data['pickup_interval'] = data['tpep_pickup_datetime'].apply(get_time_interval)
print(data[['tpep_pickup_datetime', 'pickup_interval']].head(10))

  tpep_pickup_datetime    pickup_interval
0  2020-01-01 00:28:15  00:00:00-00:30:00
1  2020-01-01 00:35:39  00:30:00-01:00:00
2  2020-01-01 00:47:41  00:30:00-01:00:00
3  2020-01-01 00:55:23  00:30:00-01:00:00
4  2020-01-01 00:01:58  00:00:00-00:30:00
5  2020-01-01 00:09:44  00:00:00-00:30:00
6  2020-01-01 00:39:25  00:30:00-01:00:00
7  2019-12-18 15:27:49  15:00:00-15:30:00
8  2019-12-18 15:30:35  15:30:00-16:00:00
9  2020-01-01 00:29:01  00:00:00-00:30:00

### 8. For each interval, determine the average number of passengers and the average fare amount.

In [ ]:
# Group by pickup_interval and calculate average passengers and fare amount
interval_averages = data.groupby('pickup_interval').agg(
    avg_passengers=('passenger_count', 'mean'),
    avg_fare=('fare_amount', 'mean')
).reset_index()

# Display the first few rows of the results
print(interval_averages.head())

### 9. For each payment type and each interval, determine the average fare amount

In [12]:
# Group by payment_type and pickup_interval, then calculate the average fare amount
payment_interval_averages = data.groupby(['payment_type', 'pickup_interval']).agg(
    avg_fare=('fare_amount', 'mean')
).reset_index()

# Display the first few rows of the results
print(payment_interval_averages.head())

   payment_type    pickup_interval   avg_fare
0           1.0  00:00:00-00:30:00  13.869142
1           1.0  00:30:00-01:00:00  13.472232
2           1.0  01:00:00-01:30:00  12.824603
3           1.0  01:30:00-02:00:00  12.357974
4           1.0  02:00:00-02:30:00  12.008589

## 10. For each payment type, determine the interval when the average fare amount is maximum

In [13]:
# Group by payment_type and pickup_interval, then calculate the average fare amount
payment_interval_averages = data.groupby(['payment_type', 'pickup_interval']).agg(
    avg_fare=('fare_amount', 'mean')
).reset_index()

# Find the interval with the maximum average fare for each payment type
max_fare_intervals = payment_interval_averages.loc[
    payment_interval_averages.groupby('payment_type')['avg_fare'].idxmax()
]

print(max_fare_intervals.head())

     payment_type    pickup_interval   avg_fare
10            1.0  05:00:00-05:30:00  21.256949
58            2.0  05:00:00-05:30:00  14.846814
110           3.0  07:00:00-07:30:00  10.950938
154           4.0  05:00:00-05:30:00   6.634043
192           5.0  17:30:00-18:00:00   0.000000

### 11. For each payment type, determine the interval when the overall ratio between the tip and the fare amounts is maximum

In [14]:
# Ensure no division by zero
data = data[data['fare_amount'] > 0]

# Calculate the tip-to-fare ratio
data['tip_fare_ratio'] = data['tip_amount'] / data['fare_amount']

# Group by payment_type and pickup_interval, then calculate the average tip-to-fare ratio
payment_interval_ratios = data.groupby(['payment_type', 'pickup_interval']).agg(
    avg_tip_fare_ratio=('tip_fare_ratio', 'mean')
).reset_index()

# Find the interval with the maximum average tip-to-fare ratio for each payment type
max_ratio_intervals = payment_interval_ratios.loc[
    payment_interval_ratios.groupby('payment_type')['avg_tip_fare_ratio'].idxmax()
]

# Display the results
print(max_ratio_intervals.head())

     payment_type    pickup_interval  avg_tip_fare_ratio
3             1.0  01:30:00-02:00:00            0.503453
66            2.0  09:00:00-09:30:00            0.000051
138           3.0  21:00:00-21:30:00            0.028968
164           4.0  10:00:00-10:30:00            0.002337

### 12. Find the location with the highest average fare amount

In [15]:
# Combine pickup and drop-off locations into a single column
data['LocationID'] = data['PULocationID'].astype(str) + '-' + data['DOLocationID'].astype(str)

# Group by LocationID and calculate the average fare amount
location_avg_fare = data.groupby('LocationID').agg(
    avg_fare=('fare_amount', 'mean')
).reset_index()

# Find the location with the highest average fare
highest_avg_fare_location = location_avg_fare.loc[location_avg_fare['avg_fare'].idxmax()]

# Display the result
print("Location with the highest average fare amount:")
print(highest_avg_fare_location)

Location with the highest average fare amount:
LocationID    150-265
avg_fare        317.5
Name: 5992, dtype: object

### 13. Build a new dataframe (called common) where, for each pickup location we keep all trips to the 5 most common destinations (i.e. each pickup location can have different common destinations).

In [16]:
# Count the number of trips for each (PULocationID, DOLocationID) pair
trip_counts = data.groupby(['PULocationID', 'DOLocationID']).size().reset_index(name='trip_count')

# Find the top 5 destinations for each pickup location
top_destinations = trip_counts.groupby('PULocationID').apply(
    lambda x: x.nlargest(5, 'trip_count')
).reset_index(drop=True)

# Filter the original dataset to keep only trips to the top 5 destinations for each pickup location
common = data.merge(
    top_destinations[['PULocationID', 'DOLocationID']],
    on=['PULocationID', 'DOLocationID'],
    how='inner'
)

# Display the first few rows of the common DataFrame
print(common.head(10))

/var/folders/jd/24fxd0md1_g8flq3hmfh5vmh0000gn/T/ipykernel_43569/2984924292.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_destinations = trip_counts.groupby('PULocationID').apply(

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0       1.0  2020-01-01 00:28:15   2020-01-01 00:33:03              1.0
1       1.0  2020-01-01 00:35:39   2020-01-01 00:43:04              1.0
2       1.0  2020-01-01 00:47:41   2020-01-01 00:53:52              1.0
3       1.0  2020-01-01 00:55:23   2020-01-01 01:00:14              1.0
4       2.0  2020-01-01 00:01:58   2020-01-01 00:04:16              1.0
5       2.0  2020-01-01 00:09:44   2020-01-01 00:10:37              1.0
6       2.0  2020-01-01 00:39:25   2020-01-01 00:39:29              1.0
7       2.0  2019-12-18 15:27:49   2019-12-18 15:28:59              1.0
8       2.0  2019-12-18 15:30:35   2019-12-18 15:31:35              4.0
9       1.0  2020-01-01 00:29:01   2020-01-01 00:40:28              2.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           1.20         1.0                  N           238           239
1           1.20         1.0                  N           239           238
2           0.60         1.0                  N           238           238
3           0.80         1.0                  N           238           151
4           0.00         1.0                  N           193           193
5           0.03         1.0                  N             7           193
6           0.00         1.0                  N           193           193
7           0.00         5.0                  N           193           193
8           0.00         1.0                  N           193           193
9           0.70         1.0                  N           246            48

   payment_type  ...  mta_tax  tip_amount  tolls_amount  \
0           1.0  ...      0.5        1.47           0.0
1           1.0  ...      0.5        1.50           0.0
2           1.0  ...      0.5        1.00           0.0
3           1.0  ...      0.5        1.36           0.0
4           2.0  ...      0.5        0.00           0.0
5           2.0  ...      0.5        0.00           0.0
6           1.0  ...      0.5        0.01           0.0
7           1.0  ...      0.0        0.00           0.0
8           1.0  ...      0.5        0.00           0.0
9           1.0  ...      0.5        2.35           0.0

   improvement_surcharge  total_amount  congestion_surcharge        duration  \
0                    0.3         11.27                   2.5 0 days 00:04:48
1                    0.3         12.30                   2.5 0 days 00:07:25
2                    0.3         10.80                   2.5 0 days 00:06:11
3                    0.3          8.16                   0.0 0 days 00:04:51
4                    0.3          4.80                   0.0 0 days 00:02:18
5                    0.3          3.80                   0.0 0 days 00:00:53
6                    0.3          3.81                   0.0 0 days 00:00:04
7                    0.3          2.81                   2.5 0 days 00:01:10
8                    0.3          6.30                   2.5 0 days 00:01:00
9                    0.3         14.15                   2.5 0 days 00:11:27

     pickup_interval tip_fare_ratio LocationID
0  00:00:00-00:30:00       0.245000    238-239
1  00:30:00-01:00:00       0.214286    239-238
2  00:30:00-01:00:00       0.166667    238-238
3  00:30:00-01:00:00       0.247273    238-151
4  00:00:00-00:30:00       0.000000    193-193
5  00:00:00-00:30:00       0.000000      7-193
6  00:30:00-01:00:00       0.004000    193-193
7  15:00:00-15:30:00       0.000000    193-193
8  15:30:00-16:00:00       0.000000    193-193
9  00:00:00-00:30:00       0.293750     246-48

[10 rows x 22 columns]

### 14. On the common dataframe, for each payment type and each interval, determine the average fare amount

In [17]:
# Group by payment_type and pickup_interval, then calculate the average fare amount
common_payment_interval_averages = common.groupby(['payment_type', 'pickup_interval']).agg(
    avg_fare=('fare_amount', 'mean')
).reset_index()

# Display the first few rows of the result
print(common_payment_interval_averages.head(10))

   payment_type    pickup_interval   avg_fare
0           1.0  00:00:00-00:30:00   8.546725
1           1.0  00:30:00-01:00:00   8.636446
2           1.0  01:00:00-01:30:00   8.484025
3           1.0  01:30:00-02:00:00   7.965097
4           1.0  02:00:00-02:30:00   7.928883
5           1.0  02:30:00-03:00:00   7.683125
6           1.0  03:00:00-03:30:00   8.035721
7           1.0  03:30:00-04:00:00   8.302950
8           1.0  04:00:00-04:30:00   8.947290
9           1.0  04:30:00-05:00:00  10.781366

### 15. Compute the difference of the average fare amount computed in the previous point with those computed at point 9.

In [18]:
# Merge the two DataFrames (from Question 14 and Question 9) on payment_type and pickup_interval
fare_comparison = common_payment_interval_averages.merge(
    payment_interval_averages,  # From Question 9
    on=['payment_type', 'pickup_interval'],
    suffixes=('_common', '_all')
)

# Compute the difference in average fare amounts
fare_comparison['fare_difference'] = (
    fare_comparison['avg_fare_common'] - fare_comparison['avg_fare_all']
)

# Display the first few rows 
print(fare_comparison.head())

   payment_type    pickup_interval  avg_fare_common  avg_fare_all  \
0           1.0  00:00:00-00:30:00         8.546725     13.869142
1           1.0  00:30:00-01:00:00         8.636446     13.472232
2           1.0  01:00:00-01:30:00         8.484025     12.824603
3           1.0  01:30:00-02:00:00         7.965097     12.357974
4           1.0  02:00:00-02:30:00         7.928883     12.008589

   fare_difference
0        -5.322417
1        -4.835785
2        -4.340578
3        -4.392877
4        -4.079706

### 16. Compute the ratio between the differences computed in the previous point and those computed in point 9. Note: you have to compute a ratio for each pair (payment type, interval).

In [19]:
# Compute the ratio between the differences and the average fare amount from Question 9
fare_comparison['fare_ratio'] = fare_comparison['fare_difference'] / fare_comparison['avg_fare_all']

# Display the first few rows of the result
print(fare_comparison[['payment_type', 'pickup_interval', 'fare_difference', 'avg_fare_all', 'fare_ratio']].head(10))

   payment_type    pickup_interval  fare_difference  avg_fare_all  fare_ratio
0           1.0  00:00:00-00:30:00        -5.322417     13.869142   -0.383760
1           1.0  00:30:00-01:00:00        -4.835785     13.472232   -0.358945
2           1.0  01:00:00-01:30:00        -4.340578     12.824603   -0.338457
3           1.0  01:30:00-02:00:00        -4.392877     12.357974   -0.355469
4           1.0  02:00:00-02:30:00        -4.079706     12.008589   -0.339732
5           1.0  02:30:00-03:00:00        -4.348951     12.032076   -0.361446
6           1.0  03:00:00-03:30:00        -4.469445     12.505166   -0.357408
7           1.0  03:30:00-04:00:00        -4.807996     13.110945   -0.366716
8           1.0  04:00:00-04:30:00        -5.746425     14.693714   -0.391080
9           1.0  04:30:00-05:00:00        -7.271174     18.052540   -0.402778

### 17. Build chains of trips. Two trips are consecutive in a chain if (a) they have the same VendorID, (b) the pickup location of the second trip is also the dropoff location of the first trip, (c) the pickup time of the second trip is after the dropoff time of the first trip, and (d) the pickup time of the second trip is at most 2 minutes later than the dropoff time of the first trip.

In [15]:
# Sort by vendor and pickup time
data = data.sort_values(['VendorID', 'tpep_pickup_datetime']).copy()

In [18]:
final = data.head(10000)

current_chain = 1

# Group by VendorID and process each vendor separately
for vendor_id, vendor_group in final.groupby('VendorID'):
    vendor_group = vendor_group.sort_values('tpep_pickup_datetime').copy()
    
    while len(vendor_group) > 0:
        current = vendor_group.iloc[0]
                    
        final.loc[current.name, 'chain'] = current_chain
        
        # Remove current trip 
        vendor_group = vendor_group.iloc[1:]
        
        while True:
            # Find successors
            mask = (
                (vendor_group['PULocationID'] == current['DOLocationID']) &
                (vendor_group['tpep_pickup_datetime'] > current['tpep_dropoff_datetime']) &
                (vendor_group['tpep_pickup_datetime'] <= 
                 current['tpep_dropoff_datetime'] + pd.Timedelta(minutes=2))
            )
            possible_successors = vendor_group[mask]
            
            # If no successors found, break inner loop to start new chain
            if len(possible_successors) == 0:
                current_chain += 1
                break
            
            successor = possible_successors.iloc[0]
            
            final.loc[successor.name, 'chain'] = current_chain
            
            # Remove from working group
            vendor_group = vendor_group[vendor_group.index != successor.name]
            
            current = successor
            
final[final['chain'] == 1]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_interval,chain
91,1.0,2020-01-01 00:00:00,2020-01-01 00:13:03,1.0,2.2,1.0,N,68,170,1.0,...,3.0,0.5,2.85,0.0,0.3,17.15,2.5,0 days 00:13:03,00:00:00-00:30:00,1
916,1.0,2020-01-01 00:13:28,2020-01-01 00:31:48,1.0,3.8,1.0,N,170,239,2.0,...,3.0,0.5,0.00,0.0,0.3,19.30,2.5,0 days 00:18:20,00:00:00-00:30:00,1
6123,1.0,2020-01-01 00:31:54,2020-01-01 01:42:07,2.0,8.0,1.0,N,239,25,1.0,...,3.0,0.5,9.35,0.0,0.3,56.15,2.5,0 days 01:10:13,00:30:00-01:00:00,1
6230,1.0,2020-01-01 01:43:32,2020-01-01 01:43:32,0.0,0.0,1.0,Y,25,264,2.0,...,0.5,0.5,0.00,0.0,0.3,6.80,0.0,0 days 00:00:00,01:30:00-02:00:00,1
8121,1.0,2020-01-01 01:44:43,2020-01-01 02:08:36,1.0,4.4,1.0,N,264,264,1.0,...,0.5,0.5,5.75,0.0,0.3,25.05,0.0,0 days 00:23:53,01:30:00-02:00:00,1